In [35]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import VarianceThreshold

In [36]:
dataset = pd.read_csv('TrainingSet.csv')

In [37]:
dataset.describe()

,Quote_ID,QuoteConversion_Flag,Field_info2,Coverage_info1,Coverage_info2,Sales_info1,Sales_info2,Sales_info3,Sales_info5,Personal_info2,Personal_info4,Personal_info5,Property_info2,Property_info4,Property_info5,Geographic_info1,Geographic_info2,Geographic_info3
count,78225.000000,78225.000000,78225.000000,78225.000000,78225.000000,78225.000000,78225.000000,78225.000000,78225.000000,78225.000000,78225.000000,41186.000000,78225.0,78225.000000,78225.000000,78225.000000,78225.000000,78225.000000
mean,39113.000000,0.190604,0.938441,9.001687,21.209575,0.744660,4.225759,13.984276,33748.747025,6.934855,0.001048,1.990264,0.0,0.665056,13.005714,7.343611,13.272956,-0.364832
std,22581.756741,0.392780,0.036950,5.577922,4.899108,0.436055,0.978007,6.296627,19517.198520,6.746576,0.046331,0.126504,0.0,0.471974,7.205987,7.049304,6.869672,4.013867
min,1.000000,0.000000,0.874600,-1.000000,1.000000,0.000000,1.000000,1.000000,4.000000,-1.000000,0.000000,1.000000,0.0,0.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,19557.000000,0.000000,0.915300,5.000000,22.000000,0.000000,3.000000,11.000000,16823.000000,4.000000,0.000000,2.000000,0.0,0.000000,7.000000,2.000000,7.000000,-1.000000
50%,39113.000000,0.000000,0.940300,8.000000,22.000000,1.000000,5.000000,11.000000,33834.000000,6.000000,0.000000,2.000000,0.0,1.000000,13.000000,4.000000,13.000000,-1.000000
75%,58669.000000,0.000000,0.968500,12.000000,22.000000,1.000000,5.000000,20.000000,50727.000000,9.000000,0.000000,2.000000,0.0,1.000000,19.000000,11.000000,19.000000,-1.000000
max,78225.000000,1.000000,1.010100,25.000000,25.000000,1.000000,5.000000,24.000000,67164.000000,25.000000,6.000000,7.000000,0.0,1.000000,25.000000,25.000000,25.000000,25.000000

Quote_ID
Original_Quote_Date
QuoteConversion_Flag
Field_info1
Field_info2
Field_info3
Field_info4
Coverage_info1
Coverage_info2
Coverage_info3
Sales_info1
Sales_info2
Sales_info3
Sales_info4
Sales_info5
Personal_info1
Personal_info2
Personal_info3
Personal_info4
Personal_info5
Property_info1
Property_info2
Property_info3
Property_info4
Property_info5
Geographic_info1
Geographic_info2
Geographic_info3
Geographic_info4
Geographic_info5